.gc
__pycache__/
mgc_core/build/
masks/
ens/
test/
ens2/
rgb/
hsv/
c02_scd/
c16_scd/
cielab/
ictcp_pq/
jzazbz/
jzczhz/
oklab/
oklch/
ruderman_lab/
srgb_linear/
xyz/
log_chroma/
opponent/
ycbcr_bt709/
diagram/
diagrasfm/
dist/
build/
scripts/