altgraph==0.17.5
aograbcut==1.0.0
colorama==0.4.6
colorspacious==1.1.2
colour==0.1.5
colour-science==0.4.6
contourpy==1.3.3
cycler==0.12.1
Cython==3.2.4
fonttools==4.60.0
GeodisTK==0.1.7
imageio==2.37.0
joblib==1.5.2
kiwisolver==1.4.9
lazy_loader==0.4
matplotlib==3.10.6
networkx==3.5
numpy==2.2.6
opencv-contrib-python==4.12.0.88
packaging==25.0
pefile==2024.8.26
pillow==11.3.0
pybind11==3.0.1
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
PyMaxflow==1.3.2
pyparsing==3.2.5
PySide6==6.10.0
PySide6_Addons==6.10.0
PySide6_Essentials==6.10.0
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.2
shiboken6==6.10.0
six==1.17.0
threadpoolctl==3.6.0
tifffile==2025.9.30
tqdm==4.67.1
typing_extensions==4.15.0
